.store-title{
    display: flex;
    justify-content: center;
}
.back-to-home-btn{
    padding: 15px;
}
.back-to-home-btn button {
 align-items: center;
 appearance: none;
 background-color: #FCFCFD;
 border-radius: 4px;
 border-width: 0;
 box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
 box-sizing: border-box;
 color: #36395A;
 cursor: pointer;
 display: inline-flex;
 height: 48px;
 justify-content: center;
 line-height: 1;
 list-style: none;
 overflow: hidden;
 padding-left: 16px;
 padding-right: 16px;
 position: relative;
 text-align: left;
 text-decoration: none;
 transition: box-shadow .15s,transform .15s;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 will-change: box-shadow,transform;
 font-size: 18px;
}

.back-to-home-btn button:focus {
 box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.back-to-home-btn button:hover {
 box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
 transform: translateY(-2px);
}

.back-to-home-btn button:active {
 box-shadow: #D6D6E7 0 3px 7px inset;
 transform: translateY(2px);
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px 50px 50px;
    gap: 25px;
}
.product{
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 1;
    flex-basis: 300;
    width: 400px;
    border: #7d7d7d 1.8px solid;
}
.product-details{
    display: grid;
    place-content: center;
    gap: 8px;
}
.product-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImg{
    display: flex;
    height: 250px;
    border: #7d7d7d 1.7px solid;
}
.rating{
    height: 20px;
}
.product-buttons{
    display: flex;
    gap: 50px;
}
.view-more-button,
.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text {
  transform: translate(10px,0px);
  transition-duration: .5s;
}
.view-more-button:active,
.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}

.view-more-button{
    font-size: 0.9em;
    font-weight: 600;
}
.store-nav{
    display: flex;
    justify-content: space-between;
}
.store-cart-btn{
  position: relative;
}
.notif{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 100%;
  top: 10px;
  right: 10px;
  background-color: red;
  width: 25px;
  font-weight: 600;
}
.cart-icon{
  height: 50px;
  margin: 0;
  padding: 0;
}